<html lang="" en">

<head>
    <title>Številka</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Prikaz random številke</h1>
    <div id="Number">Klikni gumb za številko</div>
    <input type="številka" name="min" id="vnos">
    <input type="številka2" name="max" id="vnos">
    <button onclick="btnClick()" type="button">Pritisni</button>
</body>

</html>

<script>
    function btnClick() {
        var vnosInp=document.getElementById("vnos").value
        var vnosInp=document.getElementById("vnos").value
        var divNumber = document.getElementById("number")
       

        console.log(vnosInp)
        $.ajax({
            url: "/Numdata",
            data: {
                zipcode: 97201,
                vrednost: vnosInp

            },
            success: function (result) {
                console.log(result)
                divNumber.innerHTML = result.number
            }
        });


       
    }


</script>