<html lang="" en">

<head>
    <title>Quote</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <h1>Prikaz Quota</h1>
    <div id="quote">Klikni gumb za quote</div>
    <button onclick="btnClick()" type="button">FLIP</button>
</body>

</html>

<script>
    function btnClick() {
        var Quote = document.getElementById("quote")

        $.ajax({
            url: "/Quotedata",
            data: {
                zipcode: 97201
            },
            success: function (result) {
                console.log(result)
                divCoin.innerHTML = result
            }
        });


        //console.log("Halo")
    }


</script>